//Global button styles

.button {
  padding: 0.25rem;
  text-decoration: none;
  font-size: 1.2rem;
  border: 1px solid;
  border-color: $primary-colour-light;

  @media (min-width: $breakpoint-tablet) {
    font-size: 1.6rem;
  }
}

.primary-button {
  background-color: $primary-colour-light;
  color: $primary-colour-dark;

  &:hover {
    background-color: $primary-colour-dark;
    color: $primary-colour-light;
  }
}

.secondary-button {
  background-color: $primary-colour-dark;
  color: $primary-colour-light;

  &:hover {
    background-color: $white;
    border-color: $white;
    color: $primary-colour-dark;
  }
}
