// Variables divided for better readability and changeability
@import 'colours';
@import 'fonts';
@import 'breakpoints';

// Margin and body resets
* {
  padding: 0;
  margin: 0;
}

// VueForm overrides
*, :before, :after, :root {
  --vf-border-color-input: $primary-colour-light;
  --vf-bg-input: $white;
}
